body
{
    margin: 0;
    padding: 0;

    background-color: gray;
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgb(30, 29, 44) 75%) no-repeat center center fixed,
    url(../img/pawbackground_erased.jpg) no-repeat center center fixed;
    background-size: cover;
    
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#profilepic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 150px;
}

#header
{
    height: max-content;

    padding-left: 5%;
    padding-right: 5%;
}

#name
{
    text-align: center;
}

#realname
{
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 30px;
    font-weight: 100;
    font-size: 150px;
    margin-bottom: -75px;
}

#subname
{
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 20px;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: -15px;
}

#info
{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 100px;
}

#info
{
    font-size: 20px;
}

@media (pointer:none), (pointer:coarse) 
{
    #info
    {
        font-size: 40px;
    }
}

#intro
{
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 28px;
}

#icons
{
    text-align: center;
    width: 100%;
}

#icons .icon
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.icon a
{
    color:white;
    text-decoration: none;
    
    opacity: 0.5;
}

.icon a:hover
{
    opacity: 1;
    transition: opacity 0.15s ease-in;
}

.icon img
{
    width: 100%;
}

#icons .icon
{
    width: 7%;
}

.icon p
{
    font-size: 18px;
}

@media (pointer:none), (pointer:coarse) 
{
    #icons .icon
    {
        width: 17%;
    }

    .icon p
    {
        font-size: 36px;
    }
}

#line
{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    height: 2px;
    width: 50%;
    margin-left: 25%;
}

#content
{
    text-align: center;
}

.sketchfab-embed-wrapper
{
    display: inline-block;
    overflow: hidden;

    opacity: 0.5;
}

.sketchfab-embed-wrapper:hover
{
    opacity: 1;
    transition: opacity 0.35s ease-in;
}

iframe
{
    width: 49vw;
    height: 25vw;
}

@media (pointer:none), (pointer:coarse) 
{
    iframe
    {
        width: 100vw;
        height: 50vw;
    }
}

#footer
{
    height: 100px;
}